# Binaire

# Fichiers objets
obj/
*.o

# Sujet et ressources
ressources/
my_functions/

# Fichiers générés par le programme

# Librairies
*.a

# Tests unitaires
unit_tests

# Coverage
*.gc*
*.gcno
*.gcda
*.gcov

# Fichiers temporaires
*~
*.swp
.vscode/
Cargo.lock
target/
MyGKrellm